<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.mapper.CategoryMapper">
    <select id="getCategory" resultType="com.study.dto.CategoryDto">
        SELECT *
        FROM tb_category;
    </select>
</mapper>